<template>
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5 class="text-danger"><font-awesome-icon :icon="['fas', 'cog']" fixed-width /> Настройки приложения</h5>
                            </div>

                            <div class="col text-right">
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table table-borderless table-hover table-sm">
                            <tbody>
                                <tr>
                                    <td>Количество отображаемых строк в журнале регистрации Въезда/Выезда</td>
                                    <td>
                                        <select class="custom-select" v-model="settings.logsAtPage">
                                            <option v-for="(item,index) in items" v-bind:key="index" v-bind:value="item">{{ item }}</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Количество отображаемых строк в разделе "Пропуска"</td>
                                    <td>
                                        <select class="custom-select" v-model="settings.permitsAtPage">
                                            <option v-for="(item,index) in items" v-bind:key="index" v-bind:value="item">{{ item }}</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>При вводе гос. номера авто включать в предлагаемый список пропуска с истекшим сроком</td>
                                    <td>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" v-model="settings.includeExpiredPermits" v-bind:value="1" id="includeExpiredPermits">
                                            <label class="custom-control-label" for="includeExpiredPermits">Да</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" v-model="settings.includeExpiredPermits" v-bind:value="0" id="excludeExpiredPermits">
                                            <label class="custom-control-label" for="excludeExpiredPermits">Нет</label>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Вводить даты вручную с клавиатуры, вместо использования календаря</td>
                                    <td>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" v-model="settings.enterDatesManually" v-bind:value="1" id="enterDatesManually">
                                            <label class="custom-control-label" for="enterDatesManually">Да</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" v-model="settings.enterDatesManually" v-bind:value="0" id="enterDatesThroughCalendar ">
                                            <label class="custom-control-label" for="enterDatesThroughCalendar ">Нет</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" class="btn btn-outline-secondary" v-on:click="saveSettings" title="Применить выбранные настройки">
                                    <font-awesome-icon icon="check" fixed-width /> Сохранить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: function () {
        return {
            settings : {
                logsAtPage: 30,
                permitsAtPage: 30,
                includeExpiredPermits: 1,
                enterDatesManually: 1
            }
        }
    },

    methods: {
        saveSettings: function () {
            this.$store.state.registration.rowsRoDisplay = this.settings.logsAtPage;
            this.$store.state.permits.rowsRoDisplay = this.settings.permitsAtPage;
            this.$store.state.permits.enterDatesManually = this.settings.enterDatesManually;

            axios.post('/settings/setups', {
                'settings': this.settings
            }).then(response => {
                this.$toasted.show(response.data.message);

            }).catch(function (error) {
                console.log(error);
            });
        }
    },

    computed: {
        items: function () {
            let items = [];

            for (let i = 100; i > 0; i-- ) {
                items.unshift(i);
            }

            return items;
        }
    },

    created: function () {
        axios.get('settings/setups').then(response => {
            if (Object.keys(response.data).length != 0) {
                this.settings = response.data;
                this.settings.enterDatesManually = +this.settings.enterDatesManually;
            }
        });
    }
}
</script>
