<template>
    <div id="filters">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><font-awesome-icon icon="sliders-h" fixed-width /> Фильтры</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="hideFilters()" title="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                        <div>
                            <strong><font-awesome-icon :icon="['far', 'address-card']" fixed-width /> Пропуска:</strong>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" value="valid" v-model="categories" id="valid">
                            <label class="custom-control-label" for="valid">Действующие</label>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" value="expired" v-model="categories" id="expired">
                            <label class="custom-control-label" for="expired">Истекшие</label>
                        </div>
                    </div>

                    <div class="col-8">
                        <div>
                            <strong><font-awesome-icon :icon="['fas', 'certificate']" fixed-width /> Эмитенты:</strong>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline" v-for="(emitter, index) in this.$store.getters.actualEmitters">
                            <input type="checkbox" class="custom-control-input" v-bind:value="emitter.emitter" v-model="emitters" v-bind:id="index">
                            <label class="custom-control-label" v-bind:for="index">{{ emitter.emitter }}</label>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-top: 1rem;">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="plate"><font-awesome-icon :icon="['fas', 'ticket']" fixed-width /> Гос. номер:</label>
                            <autocomplete v-bind:field="'plate'" v-bind:placeholder="'Гос. номер автомобиля'"></autocomplete>
                        </div>

                        <div class="form-group">
                            <label for="number"><strong>&#8470;</strong> пропуска:</label>
                            <autocomplete v-bind:field="'number'" v-bind:placeholder="'Номер пропуска'"></autocomplete>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label for="model"><font-awesome-icon :icon="['fas', 'car-side']" fixed-width /> Марка авто:</label>
                            <autocomplete v-bind:field="'model'" v-bind:placeholder="'Марка и модель автомобиля'"></autocomplete>
                        </div>

                        <div class="form-group">
                            <label for="start"><font-awesome-icon :icon="['far', 'calendar-alt']" fixed-width /> Дата выдачи:</label>
                            <div class="input-group">
                                <cleave class="form-control" aria-label="dateStart" aria-describedby="dateStart" placeholder="ДД.ММ.ГГГГ" 
                                    v-if="this.$store.state.permits.enterDatesManually"
                                    v-model="start"
                                    v-bind:raw="false"
                                    v-bind:options="cleaveOptions"></cleave>

                                <flat-pickr class="form-control" aria-label="dateStart" aria-describedby="dateStart" 
                                    v-else=""
                                    v-model="start" 
                                    v-bind:config="config"></flat-pickr>

                                <!-- <flat-pickr class="form-control" aria-label="dateStart" aria-describedby="dateStart" v-model="start" v-bind:config="config"></flat-pickr> -->

                                <!-- <div class="input-group-append">
                                    <span class="input-group-text" id="dateStart">
                                        <font-awesome-icon :icon="['far', 'calendar-alt']" fixed-width />
                                    </span>
                                </div> -->

                                <div class="input-group-append">
                                    <span class="clear-input-field input-group-text" v-on:click="clearField('start')" id="start">
                                        <font-awesome-icon icon="times" fixed-width />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label for="owner"><font-awesome-icon :icon="['fas', 'warehouse']" fixed-width /> Кому выдан:</label>
                            <autocomplete v-bind:field="'owner'" v-bind:placeholder="'Кому выдан'"></autocomplete>
                        </div>

                        <div class="form-group">
                            <label for="end"><font-awesome-icon :icon="['far', 'calendar-alt']" fixed-width /> Действителен по:</label>
                            <div class="input-group">
                                <cleave class="form-control" aria-label="dateEnd" aria-describedby="dateEnd" placeholder="ДД.ММ.ГГГГ" 
                                    v-if="this.$store.state.permits.enterDatesManually"
                                    v-model="end"
                                    v-bind:raw="false"
                                    v-bind:options="cleaveOptions"></cleave>

                                <flat-pickr class="form-control" aria-label="dateEnd" aria-describedby="dateEnd" 
                                    v-else=""
                                    v-model="end" 
                                    v-bind:config="config"></flat-pickr>

                                <!-- <flat-pickr class="form-control" aria-label="dateEnd" aria-describedby="dateEnd" v-model="end" v-bind:config="config"></flat-pickr> -->

                                <!-- <div class="input-group-append">
                                    <span class="input-group-text" id="dateEnd">
                                        <font-awesome-icon :icon="['far', 'calendar-alt']" fixed-width />
                                    </span>
                                </div> -->

                                <div class="input-group-append">
                                    <span class="clear-input-field input-group-text" v-on:click="clearField('end')" id="end">
                                        <font-awesome-icon icon="times" fixed-width />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" v-on:click="applyFilters()" data-dismiss="modal" title="Применить выбранные фильтры">
                    <font-awesome-icon icon="check" fixed-width /> Применить
                </button>

                <button type="button" class="btn btn-outline-warning" v-on:click="clearFilters()" title="Очистить все фильтры">
                    <font-awesome-icon icon="redo" v-bind:rotation="180" fixed-width /> Сбросить
                </button>

                <button type="button" class="btn btn-outline-danger" data-dismiss="modal" v-on:click="hideFilters()" title="Сбросить фильтры к ранее сохраненным настройкам и закрыть форму">
                    <font-awesome-icon icon="times" fixed-width /> Отменить
                </button>
            </div>
        </div>

    </div>
</template>

<script>
import moment from 'moment';
import Cleave from 'vue-cleave-component';
import Autocomplete from './Autocomplete';
import flatPickr from 'vue-flatpickr-component';
import { Russian } from "flatpickr/dist/l10n/ru.js";
import 'flatpickr/dist/flatpickr.css';

export default {
    components: {
        'autocomplete': Autocomplete,
        'cleave': Cleave,
        'flat-pickr': flatPickr
    },

    data: function () {
        return {
            config: {
                dateFormat: "d.m.Y",
                altFormat: "d.m.Y",
                altInput: true,
                // allowInput: true,
                // inline: true,
                "locale": Russian
            },

            cleaveOptions: {
                date: true,
                datePattern: ['d', 'm', 'Y'],
                delimiter: '.'
            },
        }
    },

    methods: {
        clearField: function (field) {
            this.$store.state.permits.permitData[field] = '';
            this.$store.state.permits.permitSuggestions[field] = [];
        },

        applyFilters: function () {
            this.$store.commit('setPermitFilteringPath', '/filtering/permits');
            this.$store.commit('setPermitsPage', { page: 1 });
            this.$store.commit('populatePermits');
        },

        clearFilters: function () {
            this.categories = [];
            this.emitters = [];

            this.$store.commit('clearPermitData');
        },

        hideFilters: function () {
            this.$emit('hideFilters');
        }
        
    },

    computed: {
        categories: {
            get () { return this.$store.state.permits.categories; },
            set (value) { this.$store.commit('setCategories', value); }
        },

        emitters: {
            get () { return this.$store.state.permits.emitters; },
            set (value) { this.$store.commit('setPermitEmitters', value); }
        },

        start: {
            get () { return this.$store.state.permits.permitData.start; },
            set (value) { this.$store.commit('updatePermitData', { field: 'start', value: value }); }
        },

        end: {
            get () { return this.$store.state.permits.permitData.end; },
            set (value) { this.$store.commit('updatePermitData', { field: 'end', value: value }); }
        }
    },

    created: function () {
        axios.get('/settings/permits').then(response => {
            this.categories = response.data.categories.length ? response.data.categories : [];
            this.emitters = response.data.emitters.length ? response.data.emitters : [];

            let start = '' != response.data.start ? moment(new Date(response.data.start)).format('DD.MM.YYYY') : '';
            let end = '' != response.data.end ? moment(new Date(response.data.end)).format('DD.MM.YYYY') : '';

            this.$store.commit('updatePermitData', { field: 'plate', value: response.data.plate });
            this.$store.commit('updatePermitData', { field: 'model', value: response.data.model });
            this.$store.commit('updatePermitData', { field: 'owner', value: response.data.owner });

            this.$store.commit('updatePermitData', { field: 'number', value: response.data.number });
            this.$store.commit('updatePermitData', { field: 'start', value: start });
            this.$store.commit('updatePermitData', { field: 'end', value: end });

            this.applyFilters();
        }).catch(error => {
            for(var item in error.response.data.errors) {
                console.log(error.response.data.errors[item][0]);
            }
        });

    }
}
</script>
