<template>
    <div class="modal-dialog modal-lg" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ this.$store.state.permits.permitHeader }} выданный эмитентом: <strong> {{ this.$store.state.permits.permitData.emitter }} ?</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="hideForm()" title="Отмена">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="number">Номер пропуска:</label>
                            <input type="text" class="form-control" v-model="this.$store.state.permits.permitData.number" readonly>
                        </div>

                        <div class="form-group">
                            <label for="owner">Кому выдан:</label>
                            <input type="text" class="form-control" v-model="this.$store.state.permits.permitData.owner" readonly>
                        </div>

                        <div class="form-group">
                            <label for="start">Дата выдачи:</label>
                            <input type="text" class="form-control" v-model="this.$store.state.permits.permitData.start" readonly>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="model">Марка авто:</label>
                            <input type="text" class="form-control" v-model="this.$store.state.permits.permitData.model" readonly>
                        </div>

                        <div class="form-group">
                            <label for="plate">Гос. номер:</label>
                            <input type="text" class="form-control" v-model="this.$store.state.permits.permitData.plate" readonly>
                        </div>

                        <div class="form-group">
                            <label for="end">Действителен по:</label>
                            <input type="text" class="form-control" v-model="this.$store.state.permits.permitData.end" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" v-on:click.prevent="invalidatePermit()" title="Аннулировать пропуск (сделать недействительным)">
                    <font-awesome-icon icon="trash-alt" fixed-width /> Аннулировать
                </button>

                <button type="button" class="btn btn-outline-success" data-dismiss="modal" v-on:click="hideForm()">
                    <font-awesome-icon icon="times" fixed-width /> Отмена
                </button>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    components: {
    },

    data: function () {
        return {
        }
    },

    methods: {
        hideForm: function () {
            this.$emit('hideForm');
            this.$store.commit('clearPermitData');
            this.$store.commit('clearPermitSuggestions');
        },

        invalidatePermit: function () {
            axios.get(this.$store.state.permits.permitActionPath).then(response => {
                // display an error message if the new permit was not stored on the server
                if (true == response.data.error) {
                    this.permitError = true;
                    this.permitMessage = response.data.message;
                } else {
                    this.$emit('updatePermitsSummary');
                    this.$emit('updateRelevantPermits', this.$store.state.permits.permitData.id);

                    this.hideForm();

                    $('#invalidatePermitModal').modal('hide');
                    this.$store.commit('populatePermits');
                    // this.$toasted.show(response.data.message);
                    this.$toasted.success(response.data.message);
                    // this.$toasted.error(response.data.message);
                    // this.$toasted.info(response.data.message);
                }
            }).catch(error => {
                this.permitError = true;
                this.permitMessage = '';

                for(var item in error.response.data.errors) {
                    this.permitMessage += error.response.data.errors[item][0] + '<br>';
                    console.log(error.response.data.errors[item][0]);
                }
            });
        }
    },

    computed: {
    }
}
</script>
