<template>
    <div class="modal-dialog modal-xl" role="document" style="margin-top: 0; margin-bottom: 0;">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><font-awesome-icon :icon="['far', 'file']" fixed-width /> {{ this.$store.state.permits.permitHeader }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="hideForm()" title="Отмена">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="number"><font-awesome-icon :icon="['fas', 'hashtag']" fixed-width /> Номер пропуска:</label>
                            <autocomplete v-bind:field="'number'" v-bind:placeholder="'Номер пропуска'"></autocomplete>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label for="plate"><font-awesome-icon :icon="['fas', 'ticket']" fixed-width /> Гос. номер:</label>
                            <autocomplete v-bind:field="'plate'" v-bind:placeholder="'Гос. номер автомобиля'"></autocomplete>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label for="model"><font-awesome-icon :icon="['fas', 'car-side']" fixed-width /> Марка авто:</label>
                            <autocomplete v-bind:field="'model'" v-bind:placeholder="'Марка и модель автомобиля'"></autocomplete>
                        </div>
                    </div>

                    <div class="col-3">
                        <fieldset>
                            <div class="row">
                                <div class="col weapon">
                                    <div class="form-group">
                                        <label for="number">
                                            <font-awesome-icon icon="gun" /> Оружие:
                                        </label>
                                        <div class="input-group">
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" value="yes" v-model="weapon" id="weapon">
                                                <label class="custom-control-label" for="weapon">Да, есть</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col privileged">
                                    <div class="form-group">
                                        <label for="number">
                                            <font-awesome-icon icon="shield-halved" /> Без досмотра
                                        </label>
                                        <div class="input-group">
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" value="" v-model="privileged" id="privileged">
                                                <label class="custom-control-label" for="privileged">Да</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="owner"><font-awesome-icon :icon="['fas', 'warehouse']" fixed-width /> Кому выдан:</label>
                            <autocomplete v-bind:field="'owner'" v-bind:placeholder="'Кому выдан'"></autocomplete>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="start"><font-awesome-icon :icon="['far', 'calendar-alt']" fixed-width /> Дата выдачи:</label>
                            <div class="input-group">
                                <cleave class="form-control" aria-label="dateStart" aria-describedby="dateStart" placeholder="ДД.ММ.ГГГГ"
                                    v-if="this.$store.state.permits.enterDatesManually"
                                    v-model="start"
                                    v-bind:raw="false"
                                    v-bind:options="cleaveOptions"></cleave>

                                <flat-pickr class="form-control" aria-label="dateStart" aria-describedby="dateStart"
                                    v-else=""
                                    v-model="start"
                                    v-bind:config="config"></flat-pickr>

                                <div class="input-group-append">
                                    <span class="clear-input-field input-group-text" v-on:click="clearField('start')" id="start">
                                        <font-awesome-icon icon="times" fixed-width />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="end"><font-awesome-icon :icon="['far', 'calendar-alt']" fixed-width /> Действителен по:</label>
                            <div class="input-group">
                                <cleave class="form-control" aria-label="dateEnd" aria-describedby="dateEnd" placeholder="ДД.ММ.ГГГГ"
                                    v-if="this.$store.state.permits.enterDatesManually"
                                    v-model="end"
                                    v-bind:raw="false"
                                    v-bind:options="cleaveOptions"></cleave>

                                <flat-pickr class="form-control" aria-label="dateEnd" aria-describedby="dateEnd"
                                    v-else=""
                                    v-model="end"
                                    v-bind:config="config"></flat-pickr>

                                <div class="input-group-append">
                                    <span class="clear-input-field input-group-text" v-on:click="clearField('end')" id="end">
                                        <font-awesome-icon icon="times" fixed-width />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" v-show="permitError">
                    <div class="col">
                        <div class="alert alert-danger" role="alert">
                            <span v-html="permitMessage"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary"
                    v-for="(emitter, index) in actualEmitters"
                    v-bind:class="[ highlightEmitter(emitter.emitter) ? 'btn-outline-success' : 'btn-outline-secondary' ]"
                    v-on:click.prevent="storeNewPermit(emitter.emitter)"
                    v-bind:title="emitter.emitter"
                    v-bind:disabled="!checkIfAllAreFilledAndDateFormatIsCorrect"
                    v-bind:key="index"
                >
                    <font-awesome-icon :icon="['far', 'save']" fixed-width /> {{ emitter.abbr }}
                </button>

                <button type="button" class="btn btn-outline-danger" data-dismiss="modal" v-on:click="hideForm()">
                    <font-awesome-icon icon="times" fixed-width /> Отмена
                </button>
            </div>
        </div>

    </div>
</template>

<script>
import moment from 'moment';
import Cleave from 'vue-cleave-component';
import Autocomplete from './Autocomplete';
import flatPickr from 'vue-flatpickr-component';
import { Russian } from "flatpickr/dist/l10n/ru.js";
import 'flatpickr/dist/flatpickr.css';

export default {
    components: {
        'autocomplete': Autocomplete,
        'cleave': Cleave,
        'flat-pickr': flatPickr
    },

    data: function () {
        return {
            permitMessage: '',
            permitError: false,

            config: {
                dateFormat: "d.m.Y",
                altFormat: "d.m.Y",
                altInput: true,
                // allowInput: true,
                // inline: true,
                "locale": Russian
            },

            cleaveOptions: {
                date: true,
                datePattern: ['d', 'm', 'Y'],
                delimiter: '.'
            },
        }
    },

    methods: {
        storeNewPermit: function (emitter) {
            this.$store.state.permits.permitData.emitter = emitter;

            axios.post(this.$store.state.permits.permitActionPath, {
                id:         this.$store.state.permits.permitData.id,
                number:     this.$store.state.permits.permitData.number,
                weapon:     this.$store.state.permits.permitData.weapon,
                privileged: this.$store.state.permits.permitData.privileged,
                owner:      this.$store.state.permits.permitData.owner,
                model:      this.$store.state.permits.permitData.model,
                plate:      this.$store.state.permits.permitData.plate,
                start:      this.$store.state.permits.permitData.start,
                end:        this.$store.state.permits.permitData.end,
                emitter:    this.$store.state.permits.permitData.emitter
            }).then(response => {
                // display an error message if the new permit was not stored on the server
                if (true == response.data.error) {
                    this.permitError = true;
                    this.permitMessage = response.data.message;
                } else {
                    this.$emit('updatePermitsSummary');
                    this.$emit('updateRelevantPermits', this.$store.state.permits.permitData.id);

                    this.permitError = false;
                    this.permitMessage = '';
                    this.$emit('highlightPermit', this.$store.state.permits.permitData.id);

                    // this.hideForm();

                    if ('/permit/update' == this.$store.state.permits.permitActionPath) {
                        this.$emit('hideForm');
                    }
                    this.permitError = false;
                    this.$store.commit('clearPermitData');
                    this.$store.commit('clearPermitSuggestions');
                    this.$store.commit('populatePermits');

                    $('#addPermitModal').modal('hide');

                    this.$toasted.show(response.data.message);
                }
            }).catch(error => {
                this.permitError = true;

                this.permitMessage = "";
                for(var item in error.response.data.errors) {
                    this.permitMessage += error.response.data.errors[item][0] + '<br>';
                    console.log(error.response.data.errors[item][0]);
                }
            });

        },

        highlightEmitter: function (currentEmitter) {
            if (currentEmitter == this.$store.state.permits.permitData.emitter) {
                return true;
            }

            return false;
        },

        hideForm: function () {
            this.$emit('hideForm');
            this.permitError = false;
            this.$store.commit('clearPermitData');
            this.$store.commit('clearPermitSuggestions');
        },

        clearField: function (field) {
            this.$store.state.permits.permitData[field] = '';
            this.$store.state.permits.permitSuggestions[field] = [];
        },
    },

    computed: {
        actualEmitters: function () {
            return this.$store.getters.actualEmitters;
        },

        start: {
            get () { return this.$store.state.permits.permitData.start; },
            set (value) { this.$store.commit('updatePermitData', { field: 'start', value: value }); }
        },

        end: {
            get () { return this.$store.state.permits.permitData.end; },
            set (value) { this.$store.commit('updatePermitData', { field: 'end', value: value }); }
        },

        weapon: {
            get () { return this.$store.state.permits.permitData.weapon; },
            set (value) { this.$store.commit('updatePermitData', { field: 'weapon', value: value }); }
        },

        privileged: {
            get () { return this.$store.state.permits.permitData.privileged; },
            set (value) { this.$store.commit('updatePermitData', { field: 'privileged', value: value }); }
        },

        checkIfAllAreFilledAndDateFormatIsCorrect: function () {
            var stringPattern = /\S+/;
            // var datePattern = /^[0-9]{2}\.[0-9]{2}\.[0-9]{4}$/; // любая дата в формате дд.мм.гггг
            var datePattern = /^[0-9]{2}\.[0-9]{2}\.20[1-9]{1}[0-9]{1}$/; // любая дата от 2010 года либо более

            if (stringPattern.test(this.$store.state.permits.permitData.plate) && stringPattern.test(this.$store.state.permits.permitData.model) && stringPattern.test(this.$store.state.permits.permitData.owner) && stringPattern.test(this.$store.state.permits.permitData.number) && datePattern.test(this.$store.state.permits.permitData.start) && datePattern.test(this.$store.state.permits.permitData.end)) {
                var start = this.$store.state.permits.permitData.start.split('.');
                var end = this.$store.state.permits.permitData.end.split('.');

                if (+start[2] < 2015) {
                    return false;
                }

                if (+end[2] < 2019) {
                    return false;
                }

                return true;
            } else {
                return false;
            }
        }
    }
}
</script>


<style scoped>
.weapon {
    padding: 0;
}
.privileged {
    padding: 0;
}
</style>
