<template>
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5 class="text-danger"><font-awesome-icon :icon="['far', 'address-card']" fixed-width /> Пропуска</h5>
                            </div>

                            <div class="col text-right">
                                <button class="btn btn-outline-secondary btn-sm" v-on:click="toggleFilters()" title="Фильтры">
                                    <font-awesome-icon icon="sliders-h" fixed-width />
                                </button>

                                <button class="btn btn-outline-success btn-sm" v-on:click="toggleForm()" title="Добавить новый пропуск">
                                    <font-awesome-icon icon="plus" v-if="!displayForm" fixed-width />
                                    <font-awesome-icon icon="minus" v-if="displayForm" fixed-width />
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card-body" v-if="displayFilters" style="padding: 0.2rem;">
                        <filters v-on:hideFilters="displayFilters = false" v-on:permitsFiltered="displayFilteredPermits($event)"></filters>
                    </div>

                    <div class="card-body" v-if="displayForm" style="padding: 0.2rem;">
                        <new-permit v-on:hideForm="displayForm = false" v-on:updatePermitsSummary="updatePermitsSummary()"></new-permit>
                    </div>

                    <!-- duplicate 'new-permit' form, but with hideable modal and only for editing purposes -->
                    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="addPermitModal">
                        <new-permit v-on:hideForm="displayForm = false" v-on:updatePermitsSummary="updatePermitsSummary()" v-on:highlightPermit="highlightPermit($event)"></new-permit>
                    </div>
                </div>

            </div>
        </div>

        <div class="row" style="margin: 0.8em 0 0 0;">
            <div class="col">
                <span>
                    Всего пропусков в базе: <strong>{{ summary.total }}</strong>
                </span>
                <span style="margin-left: 0.5em;">
                    <em class="text-muted">
                        (действующих: <span class="text-success">{{ summary.valid }}</span>;
                        истекших: <span class="text-danger">{{ summary.expired }}</span>)
                    </em>
                </span>
                <span style="margin-left: 1em;">Отфильтровано: <span class="text-primary">{{ totalRows }}</span></span>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <paginate
                    v-model="currentPage"

                    :page-count="pages"
                    :page-range="page.range"
                    :margin-pages="page.margin"

                    :click-handler="displayNextItems"

                    :prev-text="'пред.'"
                    :next-text="'след.'"
                    :first-button-text="'В начало'"
                    :last-button-text="'В конец'"


                    :container-class="'pagination pagination-sm justify-content-end'"
                    :page-class="'page-item'"
                    :page-link-class="'page-link'"
                    :prev-link-class="'page-link'"
                    :next-link-class="'page-link'"
                    :break-view-link-class="'break-view-link'"

                    :first-last-button="true"
                ></paginate>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr class="table-info">
                            <th class="align-top"><font-awesome-icon :icon="['fas', 'ticket']" fixed-width /> Гос. номер</th>
                            <th class="align-top"><font-awesome-icon :icon="['fas', 'car-side']" fixed-width /> Марка авто</th>
                            <th class="align-top"><font-awesome-icon :icon="['fas', 'warehouse']" fixed-width /> Кому выдан</th>
                            <th class="align-top"><font-awesome-icon :icon="['far', 'calendar-alt']" fixed-width /> Срок действия</th>
                            <th class="align-top"><font-awesome-icon :icon="['fas', 'hashtag']" fixed-width /> пропуска</th>
                            <th class="align-top" width="15%"><font-awesome-icon :icon="['fas', 'certificate']" fixed-width /> Эмитент</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="permit" v-for="(permit, index) in permits" v-bind:class="[ editAction ? permit.id == permitId ? 'table-success' : '' : 'text-danger' == highlightValidityPeriod(permit) ? 'text-secondary' : '' ]" v-bind:key="index">
                            <td>{{ permit.plate }}</td>
                            <td>{{ permit.model }}</td>
                            <td>{{ permit.owner }}</td>
                            <td v-bind:class="[ highlightValidityPeriod(permit) ]">
                                {{ formatDate(permit.start) }} <span style="margin: 0 0.5rem;">-</span> {{ formatDate(permit.end) }}
                            </td>
                            <td>
                                {{ permit.number }}
                                <font-awesome-icon icon="gun" v-if="permit.weapon" />
                                <span class="privileged" v-if="permit.privileged">БЕЗ ДОСМОТРА</span>
                            </td>
                            <td v-bind:title="permit.emitter">
                                {{ permit.abbr }}
                                <div class="buttons">
                                    <button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#invalidatePermitModal" v-on:click="invalidatePermit(permit.id)" title="Аннулировать пропуск (сделать недействительным)" v-bind:disabled="'text-danger' == highlightValidityPeriod(permit) ? true : false">
                                        <font-awesome-icon icon="trash-alt" fixed-width />
                                    </button>

                                    <button class="btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#addPermitModal" v-on:click="editPermit(permit.id)" title="Отредактировать текущий пропуск" v-bind:disabled="'text-danger' == highlightValidityPeriod(permit) ? true : false">
                                        <font-awesome-icon icon="pencil-alt" fixed-width />
                                    </button>

                                    <button class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#addPermitModal" v-on:click="addPermit(permit.id)" title="Добавить новый пропуск, на основе текущего">
                                        <font-awesome-icon icon="copy" fixed-width />
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="invalidatePermitModal">
                    <invalidate-permit v-on:hideForm="displayForm = false" v-on:updatePermitsSummary="updatePermitsSummary()"></invalidate-permit>
                </div>
            </div>
        </div>


    </div>
</template>

<script>
import moment from 'moment';
import NewPermit from './NewPermit';
import InvalidatePermit from './InvalidatePermit';
import Filters from './Filters';
import Paginate from 'vuejs-paginate';

export default {
    components: {
        'new-permit': NewPermit,
        'invalidate-permit': InvalidatePermit,
        'filters': Filters,
        'paginate': Paginate,
    },

    data: function () {
        return {
            displayFilters: false,
            displayForm: true,
            summary: [],
            permitId: 0,
            editAction: false,

            page: {
                count: 20,
                range: 5,
                margin: 2
            }
        }
    },

    methods: {
        toggleFilters: function () {
            if (this.displayFilters) {
                this.displayFilters = false;
            } else {
                this.displayFilters = true;
                this.displayForm = false;
            }

            this.$store.commit('clearPermitData');
            this.$store.commit('clearPermitSuggestions');
        },

        toggleForm: function () {
            if (this.displayForm) {
                this.displayForm = false;
            } else {
                this.populatePermits(); // get all valid permits by path "/permits/getvalid"

                this.displayForm = true;
                this.displayFilters = false;
            }

            this.$store.commit('clearPermitData');
            this.$store.commit('clearPermitSuggestions');
        },

        displayFilteredPermits: function (response) {
            this.$store.state.permits.totalRows = response.totalRows;
            this.$store.state.permits.permits = response.permits;
        },

        formatDate: function (value) {
            return moment(new Date(value)).format('DD.MM.YYYY');
        },

        highlightValidityPeriod: function (permit) {
            var now = moment(new Date());

            if (now >= moment(new Date(permit.end))) {
                return 'text-danger';
            } else if (moment(new Date(permit.start)) > now) {
                return 'text-warning';
            } else {
                return 'text-success';
            }
        },

        highlightPermit: function (id) {
            this.permitId = id;
        },

        addPermit: function (id) {
            this.displayFilters = false;
            this.displayForm = false;
            this.editAction = false;

            this.$store.commit('addPermit', id);
        },

        editPermit: function (id) {
            this.displayFilters = false;
            this.displayForm = false;
            this.editAction = true;

            this.$store.commit('editPermit', id);
        },

        invalidatePermit: function (id) {
            this.displayFilters = false;
            this.displayForm = false;

            this.$store.commit('invalidatePermit', id);
        },

        updatePermitsSummary: function () {
            axios.get('/permits/summary').then(response => {
                this.summary = response.data;
            });
        },

        populatePermits: function () {
            this.$store.commit('setPermitFilteringPath', '/permits/getvalid');
            this.$store.commit('setPermitsPage', { page: 1 }); // 1 - first page for pagination
            this.$store.commit('populatePermits');
        },

        displayNextItems: function () {
            this.$store.commit('populatePermits');
        }
    },

    computed: {
        permits: function () {
            return this.$store.getters.permits;
        },

        currentPage: {
            get () { return this.$store.state.permits.permitsPage; },
            set (value) { this.$store.commit('setPermitsPage', { page: value }); }
        },

        pages: function () {
            return this.$store.state.permits.pages;
        },

        totalRows: function () {
            // В России в качестве разделителя целой и дробной части используется запятая, а в качестве разделителя разрядов - пробел
            return new Intl.NumberFormat('ru-RU').format(this.$store.state.permits.totalRows);
        }
    },

    created: function () {
        this.updatePermitsSummary();

        axios.get('settings/setups').then(response => {
            if (Object.keys(response.data).length != 0) {
                if(response.data.hasOwnProperty('permitsAtPage')){
                    this.$store.state.permits.rowsRoDisplay = +response.data.permitsAtPage;
                }

                if(response.data.hasOwnProperty('enterDatesManually')){
                    this.$store.state.permits.enterDatesManually = +response.data.enterDatesManually;
                }
            }

            this.populatePermits(); // get all valid permits by path "/permits/getvalid"
        });
    }
}
</script>


<style scoped>
.privileged {
    font-family: 'Courier New', Courier, monospace;
    color: #c00;
}
</style>
