<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h5 class="text-danger"><font-awesome-icon :icon="['fas', 'search']" fixed-width /> Поиск</h5>
                                </div>

                                <div class="col text-right">
                                    <button class="btn btn-outline-secondary btn-sm" v-on:click="toggleFilters()" title="Фильтры">
                                        <font-awesome-icon icon="sliders-h" fixed-width />
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="card-body" v-if="displayFilters" style="padding: 0.2rem;">
                            <filters v-on:hideFilters="displayFilters = false"></filters>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row" style="margin: 0.8em 0 0 0;">
                <div class="col">
                    <span>
                        Всего событий в базе: <strong>{{ summary.total }}</strong>
                    </span>
                    <span style="margin-left: 0.5em;">
                        <em class="text-muted">(въезд: <span class="text-success">{{ summary.in }}</span>;</em>
                        <em class="text-muted">выезд: <span class="text-danger">{{ summary.out }}</span>)</em>
                    </span>
                    <span style="margin-left: 1em;">Отфильтровано: <span class="text-primary">{{ totalRows }}</span></span>
                </div>
            </div>
        </div>

        <last-logs v-if="lastLogs" v-on:reverseDirection="reverseDirection($event)"></last-logs>
    </div>
</template>

<script>
import moment from 'moment';
import LastLogs from '../Registration/LastLogs';
import Filters from './Filters';

export default {
    components: {
        'last-logs': LastLogs,
        'filters': Filters
    },

    data: function () {
        return {
            displayFilters: true,
            summary: [],
        }
    },

    methods: {
        toggleFilters: function () {
            if (this.displayFilters) {
                this.displayFilters = false;
            } else {
                this.displayFilters = true;
                this.displayForm = false;
            }

        },

        reverseDirection: function (id) {
            this.$store.commit('reverseDirection', id);
        }
    },

    computed: {
        lastLogs: function () {
            if (this.$store.getters.lastLogs.length) {
                return true;
            } else {
                return false;
            }
        },

        totalRows: function () {
            // В России в качестве разделителя целой и дробной части используется запятая, а в качестве разделителя разрядов - пробел
            return new Intl.NumberFormat('ru-RU').format(this.$store.getters.totalRows);
        }
    },

    created: function () {
        this.$store.commit('setLogActionPath', '/filtering/search');
        // this.$store.commit('setPage', { page: 1 });

        axios.get('/logs/summary').then(response => {
            this.summary = response.data;
            
            // В России в качестве разделителя целой и дробной части используется запятая, а в качестве разделителя разрядов - пробел
            var formatter = new Intl.NumberFormat('ru-RU');
            this.summary.in = formatter.format(this.summary.in);
            this.summary.out = formatter.format(this.summary.out);
            this.summary.total = formatter.format(this.summary.total);
        });

        this.$store.state.registration.permitIsSelected = true;
        this.$store.state.registration.permitIsValid = true;
    }
}
</script>
