
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  overflow-y: scroll;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 61px;
  line-height: 36px; /* Vertically center the text there */
  background-color: #f5f5f5;
  
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 #eee;
  border-top: 1px solid #aaa;
  
  background-image: linear-gradient(120deg,#b5ffda,#b0d7ff);
  background-size: 100%;
}

.footer .container {
  line-height: 56px; /* Vertically center the text there */
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.navbar {
  margin-bottom: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 #eee;
  border-bottom: 1px solid #aaa;

  background-image: linear-gradient(120deg,#b5ffda,#b0d7ff);
  background-size: 100%;
}


code {
  font-size: 90%;
}

.router-link-active {
  color: darkblue;
}


/* -------------------------------------------------------------------------------------- */
/* display menu */
.emitter, .permit, td {
  position: relative;
}
.form-inline, .buttons {
  position: absolute;
  top: 2px;
  right: 5px;
  display: none;
}
.buttons {
  top: 1px;
}
.emitter:hover .form-inline, .permit:hover .form-inline, .permit:hover .buttons {
  display: block;
  opacity: 0.9;
}


/* Suggestions */
.suggestion-list {
  display: none;
  position: absolute;
  width: 100%;

  list-style: none;
  margin: 0;
  padding: 0;

  background-color: rgba(255, 255, 255, 0.96);
  border: 1px solid #ddd;

  /*top: 20px;*/
  left: 0;
  line-height: 2em;

  // overflow: hidden;
  z-index: 2;

  max-height: 132px;
  overflow-y: scroll;
  //   z-index: 999;
}
  
.open .suggestion-list {
  display: block;
}
  
.suggestion-list li {
  cursor: pointer;
  scroll-snap-points-y: 20px;
}

.suggestion-list li:hover {
  color: #495057;
  background-color: #76B8FF;
}

.highlightion  {
  background-color: #fed59f;
}

.highlighted  {
  color: #fff;
  background-color: #76B8FF;
}


td form {
  margin: 0;
  padding: 0;
}

.permits {
  position: relative;
}

.permits .list-group {
  width: 100%;
  position: absolute;
  max-height: 10.84em;
  overflow-y: auto;
  z-index: 999;
  // border-bottom: 1px solid red;
}

.clear-input-field:hover {
  color: #DC3545;
  cursor: pointer;
}


.myToast {
}
.myToastContainer {
  opacity: 0.8;
}

// .toasted-container .top-right {
//   top:5%;
//   right:1%
// }
