<template>
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5 class="text-danger"><font-awesome-icon :icon="['fas', 'user-secret']" fixed-width /> Вход</h5>
                            </div>

                            <div class="col text-right">
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 offset-3">


                                <form action="/login" method="POST">
                                    <input type="hidden" name="_token" v-bind:value="myToken">

                                    <div class="form-group row">
                                        <label for="email" class="col-sm-4 col-form-label"><font-awesome-icon :icon="['far', 'envelope']" fixed-width /> E-Mail</label>
                                        <div class="col-sm-8">
                                            <input type="email" class="form-control" name="email" placeholder="E-Mail" id="email" required autofocus>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="password" class="col-sm-4 col-form-label"><font-awesome-icon icon="key" fixed-width /> Пароль</label>
                                        <div class="col-sm-8">
                                            <input type="password" class="form-control" name="password" placeholder="Пароль" id="password" required>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="offset-sm-4 col-sm-8">
                                            <button type="submit" class="btn btn-outline-secondary">
                                                <font-awesome-icon icon="check" fixed-width /> Войти
                                            </button>
                                        </div>
                                    </div>

                                </form>


                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: function () {
        return {
            myToken: ''
        }
    },

    created: function () {
        let myToken = document.head.querySelector('meta[name="csrf-token"]');
        this.myToken = myToken.content;
    }
}
</script>
