<template>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <span class="text-muted">&copy; {{ curYear }}</span>
                    <span class="text-danger">КПП ЗАО «Пургаз»</span>
                </div>

                <!-- <div class="col font-weight-light text-right" data-toggle="modal" data-target="#developer" style="cursor: pointer;"> -->
                <div class="col text-right" data-toggle="modal" data-target="#developer" style="cursor: pointer;">
                    <span class="text-danger">Контакты</span>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="developer" aria-hidden="true" id="developer">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">Контакты</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <table class="table table-borderless table-hover table-sm">
                            <tbody>
                                <tr>
                                    <td><font-awesome-icon :icon="['far', 'user']" fixed-width /> Разработчик:</td>
                                    <td>Какупшев Игорь Владимирович</td>
                                </tr>
                                <tr>
                                    <td><font-awesome-icon icon="phone" fixed-width /> Телефон:</td>
                                    <td>+7 (34936) 4-94-24</td>
                                </tr>
                                <tr>
                                    <td><font-awesome-icon :icon="['far', 'envelope']" fixed-width /> E-mail:</td>
                                    <td>ivkakupshev@purgaz.com</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрыть</button>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</template>

<script>
import moment from 'moment';

export default {
    data: function () {
        return {
            curTime: moment().format('DD.MM.YYYY HH:MM:ss')
        }
    },

    computed: {
        curYear: function () {
            let curYear = moment().format('YYYY');
            if ('2018' == curYear) {
                return moment().format('YYYY');
            } else {
                return '2018-' + moment().format('YYYY');
            }
        }
    },

    created: function() {
        setInterval(() => { this.curTime = moment().format('DD.MM.YYYY HH:MM:ss'); }, 1000);
    }
}
</script>
