<template>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <router-link class="nav-link" to="/" exact>
                            <font-awesome-icon icon="exchange-alt" flip="vertical" fixed-width /> Регистрация
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/permits" exact>
                            <font-awesome-icon :icon="['far', 'address-card']" fixed-width /> Пропуска
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/search" exact>
                            <font-awesome-icon icon="search" fixed-width /> Поиск
                        </router-link>
                    </li>
                </ul>

                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        <router-link class="nav-link" to="/settings" exact>
                            <font-awesome-icon icon="cog" fixed-width /> Настройки
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/login" exact>
                            <font-awesome-icon icon="user-secret" fixed-width /> Вход
                        </router-link>
                    </li>
                </ul>
            </div>
      </div>
    </nav>
</template>
