<template>
    <div class="col px-1" v-bind:class="{ open: open }" style="position: relative">
        <div class="input-group">
            <input type="text" class="form-control" autocomplete="off" 
                v-model="currentText" 
                ref="search" 
                v-on:input="getSuggestions" 
                v-on:focus="focused" 
                v-on:keydown.down="down" 
                v-on:keydown.up="up" 
                v-on:keydown.enter="suggestionSelected(currentSuggestions[highlightIndex], highlightIndex)" 
                v-on:keydown.esc="setOpen(false)" 
                v-on:blur="setOpen(false)" 
                v-on:click="setOpen(true)" 
                v-bind:name="field" 
                v-bind:placeholder="placeholder" 
                v-bind:title="placeholder" 
                v-bind:disabled="editingDisabled" 
            />

            <div class="input-group-append">
                <span class="clear-input-field input-group-text" v-on:click="clearField(field)">
                    <font-awesome-icon icon="times" fixed-width />
                </span>
            </div>
        </div>

        <ul class="suggestion-list" id="suggestionList">
            <li v-bind:style="{ top: upperIndent }"
                v-for="(suggestion, index) in currentSuggestions" 
                v-on:click="suggestionSelected(suggestion, index)" 
                v-on:mousedown.prevent 
                v-bind:class="{ highlighted : index === highlightIndex }"
                v-bind:id="field + index"
                v-bind:key="index"
            >
                {{ suggestion }}
            </li>
        </ul>
    </div>    
</template>

<script>
export default {
    props: {
        field: {
            type: String,
            required: true
        },

        placeholder: {
            type: String
        }
    },

    data: function () {
        return {
            open: false,
            highlightIndex: 0,
            upperIndent: 0
        }
    },

    methods: {
        getSuggestions: function () {
            if (/\S+/.test(this.currentText)) {
                axios.post('/logs/field/autocomplete', {
                    params: {
                        field: this.field,
                        value: this.currentText
                    }

                }).then(response => {
                    this.$store.commit('updateLogSuggestions', { field: this.field, value: response.data });
                    this.$store.state.registration.logSuggestions[this.field].length ? this.open = true : this.open = false;
                    this.highlightIndex = 0;
                }).catch(function (error) {
                    console.log(error);
                });
            } else {
                this.$store.commit('clearLogSuggestions');
                this.open = false;
                this.highlightIndex = 0;
            }
        },

        suggestionSelected: function (suggestion, index) {
            this.open = false;
            this.currentText = suggestion;
            this.highlightIndex = index;
        },

        focused: function () {
            this.$store.state.registration.logSuggestions[this.field].length ? this.open = true : this.open = false;
        },

        setOpen: function (isOpen) {
            if (this.$store.state.registration.logSuggestions[this.field].length) {
                this.open = isOpen;
            }

            this.scrollToSelectedElement(this.field + this.highlightIndex);
        },

        up: function () {
            if (this.open) {
                if (this.highlightIndex > 0) {
                    this.highlightIndex--;
                }
            } else {
                this.open = true;
            }

            this.scrollToSelectedElement(this.field + this.highlightIndex);
        },

        down: function () {
            if (this.open) {
                if (this.highlightIndex < this.$store.state.registration.logSuggestions[this.field].length - 1) {
                    this.highlightIndex++;
                }
            } else {
                this.open = true;
            }

            this.scrollToSelectedElement(this.field + this.highlightIndex);
        },

        clearField: function (field) {
            this.$store.state.registration.logData[this.field] = '';
            this.$store.state.registration.logSuggestions[this.field] = [];
        },

        scrollToSelectedElement(elementId) {
            var element = document.getElementById(elementId);

            if (element) {
                element.scrollIntoView(false);
            }
        }
    },

    computed: {
        currentText: {
            get () { return this.$store.state.registration.logData[this.field]; },
            set (value) { this.$store.commit('updateLogData', { field: this.field, value: value }); }
        },

        currentSuggestions: function () {
            return this.$store.state.registration.logSuggestions[this.field];
        },

        editingDisabled: function () {
            if (this.$store.state.registration.permitIsSelected) {
                return false;
            } else {
                return true;
            }
        }
    }
    

}
</script>
