<template>
<div class="permits">
            <div class="list-group" style="line-height: 1.12em;">
                <a href="#" class="list-group-item list-group-item-action" 
                    v-for="(permit, index) in permits.foundPermits" 
                    v-on:click.prevent="selectPermitByPlate(permit)" 
                    v-bind:title="getEmitter(permit)"
                    v-bind:key="index"
                    v-bind:id="'permit_' + permit.id"
                    v-bind:class="{ highlighted : index === highlightIndex }"
                >

                    <span v-html="highlightPlate(permit.plate, permits.pattern, permits.searchPhrase)"></span>
                    <span class="text-primary" style="margin-left: 8px; margin-right: 8px;">{{ permit.model }}</span>
                    №: <em style="margin-right: 8px;">{{ permit.number }}</em>
                    <em v-bind:class="[ highlightValidityPeriod(permit, permits.dateNow) ]">{{ formatDate(permit.start) }} - {{ formatDate(permit.end) }}</em>
                    <span class="text-info" style="margin-left: 8px; margin-right: 8px;">{{ permit.abbr }}</span>
                </a>
            </div>
        </div>    
</template>

<script>
import moment from 'moment';

export default {
    props: ['permits'],

    methods: {
        selectPermitByPlate: function (permit) {
            this.$emit('select', permit);
        },

        highlightPlate: function (plate, pattern, searchPhrase) {
            return plate.replace(pattern, '<strong style="background: yellow;">' + searchPhrase + '</strong>');
        },

        highlightValidityPeriod: function (permit, dateNow) {
            if (dateNow > moment(new Date(permit.end))) {
                return 'text-danger';
            } else if (moment(new Date(permit.start)) > dateNow) {
                return 'text-warning';
            }

            return 'text-success';
        },

        formatDate: function (date) {
            return moment(new Date(date)).format('DD.MM.YYYY');
        },

        getEmitter: function (permit) {
            return 'Эмитент: ' + permit.emitter + ' || Кому выдан: ' + permit.owner;
        }
    }    
}
</script>
