<template>
        <div class="container-fluid" style="padding-top: 1rem; padding-bottom: 0.1rem;">
            <div class="row">
                <div class="col-4">
                    <button class="btn btn-outline-success btn-sm" v-on:click="exportToExcel()" v-bind:disabled="exportButton">
                        <font-awesome-icon v-if="!exportButton" :icon="['far', 'file-excel']" fixed-width />
                        <font-awesome-icon v-if="exportButton" icon="spinner" fixed-width pulse />
                        Экспортировать таблицу в Microsoft Excel
                    </button>
                </div>

                <div class="col-8">
                    <paginate
                        v-model="currentPage"

                        :page-count="pages"
                        :page-range="page.range"
                        :margin-pages="page.margin"

                        :click-handler="displayNextItems"

                        :prev-text="'пред.'"
                        :next-text="'след.'"
                        :first-button-text="'В начало'"
                        :last-button-text="'В конец'"


                        :container-class="'pagination pagination-sm justify-content-end'"
                        :page-class="'page-item'"
                        :page-link-class="'page-link'"
                        :prev-link-class="'page-link'"
                        :next-link-class="'page-link'"
                        :break-view-link-class="'break-view-link'"

                        :first-last-button="true"
                    ></paginate>
                </div>
            </div>


            <table class="table table-hover table-sm">
                <thead>
                    <tr class="table-info">
                        <th class="align-top" style="width: 6%"><font-awesome-icon icon="exchange-alt" flip="vertical" fixed-width /></th>
                        <th class="align-top"><font-awesome-icon :icon="['fas', 'ticket']" fixed-width /> Гос. номер</th>
                        <th class="align-top"><font-awesome-icon :icon="['fas', 'car-side']" fixed-width /> Марка авто</th>
                        <th class="align-top"><font-awesome-icon :icon="['fas', 'warehouse']" fixed-width /> Владелец авто</th>
                        <th class="align-top"><font-awesome-icon :icon="['fas', 'hashtag']" fixed-width /> Номер попуска</th>
                        <th class="align-top"><font-awesome-icon :icon="['fas', 'certificate']" fixed-width /> Эмитент</th>
                        <th class="align-top" style="width: 9%"><font-awesome-icon :icon="['far', 'clock']" fixed-width /> Дата и время</th>
                        <th class="align-top">
                            <font-awesome-layers>
                                <font-awesome-icon :icon="['far', 'life-ring']" fixed-width />
                                <font-awesome-icon :icon="['fas', 'hands']" fixed-width v-bind:class="{ 'text-warning': true }" />
                            </font-awesome-layers>
                            &nbsp;Водитель
                        </th>
                        <th class="align-top"><font-awesome-icon :icon="['fas', 'luggage-cart']" fixed-width /> Груз</th>
                        <th class="align-top"><font-awesome-icon :icon="['fas', 'user-tie']" fixed-width /> Заказчик</th>
                        <th class="align-top"><font-awesome-icon :icon="['fas', 'route']" fixed-width /> Пункт назначения</th>
                        <th class="align-top"><font-awesome-icon :icon="['far', 'comment-dots']" fixed-width /> Примечание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-warning" v-for="(lastlog, index) in lastLogs" v-bind:key="lastlog.id">
                        <td v-bind:title="'Строка ' + (totalRows - index - (currentPage - 1) * rowsRoDisplay) + ' из ' + totalRows">
                            <button type="submit" class="btn btn-link" style="padding: 0; cursor: pointer;"
                                v-on:click="reverse(lastlog.id, lastlog.created_at, index)"
                                v-bind:disabled="disableReversing(lastlog.created_at)">
                                <font-awesome-icon v-if="directionIn(lastlog.direction)" class="text-success" icon="sign-in-alt" v-bind:rotation="180" fixed-width />
                                <font-awesome-icon v-if="directionOut(lastlog.direction)" class="text-danger" icon="sign-out-alt" fixed-width />
                            </button>
                            {{ lastlog.direction }}
                        </td>
                        <td>{{ lastlog.plate }}</td>
                        <td>{{ lastlog.model }}</td>
                        <td>{{ lastlog.owner }}</td>
                        <td>
                            {{ lastlog.number }}
                            <font-awesome-icon icon="gun" v-if="lastlog.weapon" />
                            <span class="privileged" v-if="lastlog.privileged">БЕЗ ДОСМОТРА</span>
                        </td>
                        <td>{{ lastlog.emitter }}</td>
                        <td>{{ formatDate(lastlog.created_at) }} <code class="text-secondary" style="margin-left: 1em;"><em>{{ formatTime(lastlog.created_at) }}</em></code></td>
                        <td>{{ lastlog.driver }}</td>
                        <td>{{ lastlog.cargo }}</td>
                        <td>{{ lastlog.customer }}</td>
                        <td>{{ lastlog.destination }}</td>
                        <td>{{ lastlog.comment }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
</template>

<script>
import moment from 'moment';
import Paginate from 'vuejs-paginate';

export default {
    components: {
        'paginate': Paginate,
    },

    data: function () {
        return {
            exportFields: {
                'Направление': 'direction',
                'Гос. номер': 'plate',
                'Марка авто': 'model',
                'Владелец авто': 'owner',
                'Номер пропуска': 'number',
                'Эмитент': 'emitter',
                'Дата и время': 'created_at',
                'Водитель': 'driver',
                'Груз': 'cargo',
                'Заказчик': 'customer',
                'Пункт назначения': 'destination',
                'Примечание': 'comment',
            },

            page: {
                count: 20,
                range: 5,
                margin: 2
            },

            exportButton: false,
            reverseButton: false
        }
    },

    methods: {
        directionIn: function (direction) {
            return 'in' == direction;
        },

        directionOut: function (direction) {
            return 'out' == direction;
        },

        formatDate: function (value) {
            return moment(new Date(value)).format('DD.MM.YYYY');
        },

        formatTime: function (value) {
            return moment(new Date(value)).format('HH:mm:ss');
        },

        reverse: function (id, created_at, index) {
            this.reverseButton = true;
            let day = 60 * 60 * 24;
            let now = Math.floor(Date.now() / 1000); // current timestamp in seconds
            let createdAt = Math.floor(new Date(created_at).getTime()/ 1000); // // created_at time in seconds

            if (now - createdAt <= day) {
                axios.get('/log/' + id + '/reverse').then(response => {
                    if (response.data.error) {
                        console.log(response.data.message);
                    } else {
                        if ('in' == this.$store.state.registration.lastlogs[index].direction) {
                            this.$store.state.registration.lastlogs[index].direction = 'out';
                        } else {
                            this.$store.state.registration.lastlogs[index].direction = 'in';
                        }
                    }

                    this.reverseButton = false;
                }).catch(function (error) {
                    this.reverseButton = false;
                    console.log(error);
                });
            }
        },

        disableReversing: function (created_at) {
            let day = 60 * 60 * 24;
            let now = Math.floor(Date.now() / 1000); // current timestamp in seconds
            let createdAt = Math.floor(new Date(created_at).getTime()/ 1000); // // created_at time in seconds

            if (now - createdAt <= day & !this.reverseButton) {
                return false;
            } else {
                return true;
            }
        },

        displayNextItems: function (pageNum) {
            // console.log('Page number: ' + pageNum);
            // pageNum - page to display in pagination
            // this.$store.commit('populateLastLogs', { page: pageNum }); // 1 - first page for pagination
            this.$store.commit('populateLastLogs'); // 1 - first page for pagination
        },

        exportToExcel(){
            this.exportButton = true;
            let answer;
            let selectedSearchFilters = {};

            if ('/filtering/search' == this.$store.state.registration.logActionPath) {
                selectedSearchFilters = {
                    direction: this.$store.state.registration.direction,
                    emitters: this.$store.state.registration.emitters,

                    plate: this.$store.state.permits.permitData.plate,
                    model: this.$store.state.permits.permitData.model,
                    owner: this.$store.state.permits.permitData.owner,

                    customer: this.$store.state.registration.logData.customer,
                    driver: this.$store.state.registration.logData.driver,
                    destination: this.$store.state.registration.logData.destination,

                    cargo: this.$store.state.registration.logData.cargo,
                    start: this.$store.state.permits.permitData.start,
                    end: this.$store.state.permits.permitData.end
                }
            }

            if ('/logs/plate' == this.$store.state.registration.logActionPath) {
                selectedSearchFilters = this.$store.state.registration.plate;
            }


            axios({
                url: this.$store.state.registration.logActionPath,
                method: 'POST',
                responseType: 'blob',
                data: {
                    export: true,
                    plate: selectedSearchFilters,
                    page: 1,
                    rows: 0 // if this variable equals 0 rows (or false), then it is used for exporting logs to Excel and means "fetch all appropriate rows"
                }
            }).then(response => {
                this.exportButton = false;

                let link = document.getElementById('exportLink');

                link.href = window.URL.createObjectURL(new Blob([response.data]));
                link.setAttribute('download', 'КПП_Пургаз_' + moment().format('DD.MM.YYYY HH-mm-ss') + '.ods');

                let div = document.getElementById('export');
                div.appendChild(link);
                link.click();

            }).catch(error => {
                console.log(error);
                this.exportButton = false;
            });
        }
    },

    computed: {
        currentPage: {
            get () { return this.$store.state.registration.page; },
            set (value) { this.$store.commit('setPage', { page: value }); }
        },

        pages: function () {
            return this.$store.state.registration.pages;
        },

        lastLogs: function () {
            return this.$store.getters.lastLogs;
        },

        totalRows: function () {
            return this.$store.getters.totalRows;
        },

        rowsRoDisplay: function () {
            return this.$store.getters.rows;
        }

    }

}
</script>


<style scoped>
.privileged {
    font-family: 'Courier New', Courier, monospace;
    color: #c00;
}
</style>
