<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col">


                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h5 class="text-danger"><font-awesome-icon :icon="['fas', 'exchange-alt']" flip="vertical" fixed-width /> Регистрация въезда-выезда</h5>
                                </div>

                                <div class="col text-right">
                                    <button class="btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#addPermitModal" title="Редактировать пропуск" v-on:click="editPermit(currentPermit.id)" v-bind:disabled="disableEditButton">
                                        <font-awesome-icon icon="pencil-alt" fixed-width />
                                    </button>

                                    <button class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#addPermitModal" title="Добавить новый пропуск, на основе текущего" v-on:click="addPermit(currentPermit.id)" v-bind:disabled="currentPermit.id ? false : true">
                                        <font-awesome-icon icon="copy" fixed-width />
                                    </button>

                                    <button class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#addPermitModal" title="Добавить новый пропуск" v-on:click="clearPermitData()">
                                        <font-awesome-icon icon="plus" fixed-width />
                                    </button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="addPermitModal">
                                    <new-permit v-on:updateRelevantPermits="updateRelevantPermits($event)" v-on:highlightPermit="setFocus()" v-on:hideForm="setFocus()"></new-permit>
                                </div>
                            </div>
                        </div>

                        <div class="card-body" style="padding-bottom: 0.2rem;">
                            <div class="row">
                                <div class="col-7">

                                    <div class="col px-1" style="position: relative">
                                        <div class="input-group">
                                            <input type="text" autocomplete="off" class="form-control" placeholder="Начните вводить гос. номер авто..."
                                                ref="plate"
                                                v-model="permits.searchPhrase"
                                                v-on:input="getPermits"
                                                v-on:focus="focused"


                                                v-on:keydown.down="down"
                                                v-on:keydown.up="up"
                                                v-on:keydown.enter="selectPermitByPlate(permits.foundPermits[highlightIndex])"


                                                v-focus
                                            />
                                            <div class="input-group-append">
                                                <span class="clear-input-field input-group-text" v-on:click="clearPlateInput" v-on:dblclick="clearAllLogData" id="clearPlateInput">
                                                    <font-awesome-icon icon="times" fixed-width />
                                                </span>
                                            </div>
                                        </div>

                                        <div class="permits" v-bind:style="{ display: display }">
                                            <div class="list-group" style="line-height: 1.12em;">
                                                <a href="#" class="list-group-item list-group-item-action"
                                                    v-for="(permit, index) in permits.foundPermits"
                                                    v-on:click.prevent="selectPermitByPlate(permit)"
                                                    v-bind:title="getEmitter(permit)"
                                                    v-bind:key="index"
                                                    v-bind:id="'permit_' + index"
                                                    v-bind:class="{ highlightion : index === highlightIndex }"
                                                >

                                                    <span v-html="highlightPlate(permit.plate, permits.pattern, permits.searchPhrase)"></span>
                                                    <span class="text-primary" style="margin-left: 8px; margin-right: 8px;">{{ permit.model }}</span>
                                                    №: <em style="margin-right: 8px;">{{ permit.number }}</em>
                                                    <em v-bind:class="[ highlightValidityPeriod(permit, permits.dateNow) ]">{{ formatDate(permit.start) }} - {{ formatDate(permit.end) }}</em>
                                                    <span class="text-info" style="margin-left: 8px; margin-right: 8px;">{{ permit.abbr }}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row" style="padding: 1rem 0;">
                                        <input type="hidden" name="permitId" value="" v-model="currentPermit.id">

                                        <div class="col">
                                            <autocomplete ref="customer" v-bind:field="'customer'" v-bind:placeholder="'Заказчик'"></autocomplete>
                                        </div>
                                        <div class="col">
                                            <autocomplete v-bind:field="'driver'" v-bind:placeholder="'Водитель'"></autocomplete>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 0.5rem;">
                                        <div class="col">
                                            <autocomplete v-bind:field="'destination'" v-bind:placeholder="'Пункт назначения'"></autocomplete>
                                        </div>
                                        <div class="col">
                                            <autocomplete v-bind:field="'comment'" v-bind:placeholder="'Примечание'"></autocomplete>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <autocomplete v-bind:field="'cargo'" v-bind:placeholder="'Груз'"></autocomplete>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-5">
                                    <table class="table table-sm table-hover" style="margin: 0;">
                                        <tbody>
                                            <tr>
                                                <td><font-awesome-icon :icon="['fas', 'certificate']" fixed-width /> Эмитент:</td>
                                                <td class="text-primary text-right" v-text="currentPermit.emitter"></td>
                                            </tr>
                                            <tr>
                                                <td><font-awesome-icon :icon="['fas', 'hashtag']" fixed-width /> Ном. пропуска:</td>
                                                <td class="text-primary text-right">
                                                    <span class="privileged" v-if="currentPermit.privileged">БЕЗ ДОСМОТРА</span>
                                                    <span style="color: #dc3545;" v-if="currentPermit.weapon" ><font-awesome-icon icon="gun" /></span>
                                                    {{ currentPermit.number }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><font-awesome-icon :icon="['far', 'calendar-alt']" fixed-width /> Срок действия:</td>
                                                <td class="text-right" v-bind:class="[ validityPeriodColor ]">{{ currentPermit.start }}<span v-if="currentPermit.id"> - </span>{{ currentPermit.end }}</td>
                                            </tr>
                                            <tr>
                                                <td><font-awesome-icon :icon="['fas', 'warehouse']" fixed-width /> Кому выдан:</td>
                                                <td class="text-primary text-right" v-text="currentPermit.owner"></td>
                                            </tr>
                                            <tr>
                                                <td><font-awesome-icon :icon="['fas', 'car-side']" fixed-width /> Марка авто:</td>
                                                <td class="text-primary text-right" v-text="currentPermit.model"></td>
                                            </tr>
                                            <tr>
                                                <td><font-awesome-icon :icon="['fas', 'ticket']" fixed-width /> Гос. номер:</td>
                                                <td class="text-primary text-right" v-text="currentPermit.plate"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer text-muted">
                            <div class="row">
                                <div class="col-4" style="padding-top: 0.4rem;">
                                    <font-awesome-icon v-bind:class="[currentStatus]" icon="circle" fixed-width />
                                    <span class="text-info" v-html="statusMessage"></span>
                                </div>

                                <div class="col-3 text-right">
                                    <button type="button" class="btn emitter-btn btn-outline-success" title="Зарегистрировать Въезд"
                                            v-on:click="registerMove('in')"
                                            v-bind:disabled="!checkIfRequiredFieldsAreFilledOut">
                                        <font-awesome-icon icon="sign-in-alt" v-bind:rotation="180" fixed-width />  Въезд
                                    </button>
                                    <button type="button" class="btn emitter-btn btn-outline-danger" title="Зарегистрировать Выезд"
                                            v-on:click="registerMove('out')"
                                            v-bind:disabled="!checkIfRequiredFieldsAreFilledOut">
                                        Выезд <font-awesome-icon icon="sign-out-alt" fixed-width />
                                    </button>
                                </div>

                                <div class="col-5 text-right" style="padding-top: 0.4rem;">
                                    <span class="float-left">Событий: <span class="text-danger">{{ lastLogsCount }}</span></span>
                                    Текущее время: <span class="text-danger" v-on:click="now()">{{ curTime }}</span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <last-logs v-if="lastLogs" v-on:reverseDirection="reverseDirection($event)"></last-logs>
    </div>
</template>

<script>
import moment from 'moment';
import Autocomplete from './Autocomplete';
import LastLogs from './LastLogs';
import NewPermit from '../Permits//NewPermit';


export default {
    components: {
        'autocomplete': Autocomplete,
        'last-logs': LastLogs,
        'new-permit': NewPermit
    },

    directives: {
        focus: {
            // directive definition
            inserted: function (el) {
                el.focus()
            }
        }
    },

    data: function () {
        return {
            curTime: moment().format('DD.MM.YYYY HH:mm:ss'),

            selectedEmitter: '',
            currentPermit: { id: '', emitter: '', number: '', owner: '', model: '', plate: '', start: '', end: '' },

            validityPeriodColor: 'text-danger',
            statusMessage: this.displayStatusMessage('selectPermit'),
            permitMessage: '',

            disableEditButton: true,


            pattern: /\S+/,

            display: 'none',
            typedByUser: '',
            permits: { foundPermits: [], searchPhrase: '', pattern: '', dateNow: moment(new Date()) },


            highlightIndex: 0
        }
    },

    methods: {
        getPermits: function () {
            if (this.permits.searchPhrase.length > 0) {
                this.typedByUser = this.permits.searchPhrase;

                if (this.pattern.test(this.permits.searchPhrase)) {
                    axios.get('/permits/plate/autocomplete', {
                        params: {
                            phrase: this.permits.searchPhrase
                        }

                    }).then(response => {
                        this.permits.foundPermits = response.data;
                        this.permits.pattern = new RegExp(this.typedByUser, 'gi');
                        this.statusMessage = this.displayStatusMessage('selectPermit');

                        if (!response.data.length) {
                            this.statusMessage = this.displayStatusMessage('carNotRegistered');
                        }

                        this.highlightIndex = 0;

                    }).catch(function (error) {
                        console.log(error);
                    });
                } else {
                    this.clearPlateInput();
                    this.highlightIndex = 0;
                }

            } else {
                this.clearPlateInput();
            }
        },

        highlightPlate: function (plate, pattern, searchPhrase) {
            return plate.replace(pattern, '<strong style="background: yellow;">' + searchPhrase + '</strong>');
        },

        highlightValidityPeriod: function (permit, dateNow) {
            if (dateNow > moment(new Date(permit.end))) {
                return 'text-danger';
            } else if (moment(new Date(permit.start)) > dateNow) {
                return 'text-warning';
            }

            return 'text-success';
        },

        formatDate: function (date) {
            return moment(new Date(date)).format('DD.MM.YYYY');
        },

        getEmitter: function (permit) {
            return 'Эмитент: ' + permit.emitter + ' || Кому выдан: ' + permit.owner;
        },

        up: function () {
            if (this.open) {
                if (this.highlightIndex > 0) {
                    this.highlightIndex--;
                }
            } else {
                this.open = true;
            }

            this.scrollToSelectedElement('permit_' + this.highlightIndex);
        },

        down: function () {
            if (this.highlightIndex < this.permits.foundPermits.length - 1) {
                this.highlightIndex++;
            }

            this.scrollToSelectedElement('permit_' + this.highlightIndex);
        },

        scrollToSelectedElement(elementId) {
            var element = document.getElementById(elementId);

            if (element) {
                element.scrollIntoView(false);
            }
        },


        selectPermitByPlate: function (selectedPermit) {
            this.permits.searchPhrase = selectedPermit.plate;
            this.permits.pattern = new RegExp(selectedPermit.plate, 'gi');
            this.display = 'none';

            this.$store.state.registration.permitIsSelected = true;
            this.selectedEmitter = selectedPermit.emitter;

            this.currentPermit = { id: selectedPermit.id, emitter: selectedPermit.emitter, number: selectedPermit.number, weapon: selectedPermit.weapon, privileged: selectedPermit.privileged, owner: selectedPermit.owner, model: selectedPermit.model, plate: selectedPermit.plate, start: moment(new Date(selectedPermit.start)).format('DD.MM.YYYY'), end: moment(new Date(selectedPermit.end)).format('DD.MM.YYYY') }

            if (this.permits.dateNow >= moment(new Date(selectedPermit.end))) {
                this.$store.state.registration.permitIsValid = false;
                this.disableEditButton = true;
                this.validityPeriodColor = 'text-danger';
                this.statusMessage = this.displayStatusMessage('permitExpired');
            } else if (moment(new Date(selectedPermit.start)) > this.permits.dateNow) {
                this.$store.state.registration.permitIsValid = false;
                this.disableEditButton = false;
                this.validityPeriodColor = 'text-warning';
                this.statusMessage = this.displayStatusMessage('validFrom') + moment(new Date(selectedPermit.start)).format('DD.MM.YYYY');
            } else {
                this.$store.state.registration.permitIsValid = true;
                this.disableEditButton = false;
                this.validityPeriodColor = 'text-success';
                this.statusMessage = this.displayStatusMessage('completeOtherFields');
            }


            this.$store.state.registration.logActionPath = '/logs/plate';
            this.$store.commit('setPlate', selectedPermit.plate);
            this.$store.commit('setPage', { page: 1 });
            this.$store.commit('populateLastLogs');

            this.$nextTick(() => {
                this.$refs.customer.$el.children[0].children[0].focus();
            });
        },

        highlightEmitter: function (currentEmitter, selectedEmitter) {
            if (currentEmitter == selectedEmitter) {
                return true;
            }

            return false;
        },

        addPermit: function (id) {
            this.$store.commit('addPermit', id);
        },

        editPermit: function (id) {
            this.$store.commit('editPermit', id);
        },

        clearPermitData: function () {
            this.$store.commit('clearPermitData');
            this.$store.commit('clearPermitSuggestions');
        },

        updateRelevantPermits: function (id) {
            this.permits.searchPhrase = this.typedByUser;
            this.getPermits();
            this.focused();
        },

        clearPlateInput: function () {
            this.currentPermit = { id: '', emitter: '', number: '', weapon: '', privileged: '', owner: '', model: '', plate: '', start: '', end: '' };
            this.validityPeriodColor = 'text-danger';
            this.statusMessage = this.displayStatusMessage('selectPermit');
            this.permitMessage = '';

            this.$store.state.registration.permitIsSelected = false;
            this.$store.state.registration.permitIsValid = false;

            this.disableEditButton = true;
            this.typedByUser = '';
            this.permits = { foundPermits: [], searchPhrase: '', pattern: '', dateNow: moment(new Date()) };

            this.$store.state.registration.logActionPath = '/logs/last';
            this.$store.commit('setPlate', '');
            this.$store.commit('setPage', { page: 1 });
            this.$store.commit('populateLastLogs'); // 1 - first page for pagination

            this.setFocus();
        },

        clearAllLogData: function () {
            this.$store.commit('clearAllLogData');
            this.clearPlateInput();
        },

        focused: function () {
            this.validityPeriodColor = 'text-danger';
            this.statusMessage = this.displayStatusMessage('selectPermit');
            this.permitMessage = '';

            this.display = 'block';
            this.currentPermit = { id: '', emitter: '', number: '', weapon: '', privileged: '', owner: '', model: '', plate: '', start: '', end: '' };

            this.$store.state.registration.permitIsSelected = false;
            this.$store.state.registration.permitIsValid = false;

            this.disableEditButton = true;
            this.permits.searchPhrase = this.typedByUser;
            this.permits.pattern = new RegExp(this.typedByUser, 'gi');
        },

        setFocus: function() {
            this.$nextTick(() => {
                this.$refs.plate.focus();
            });
        },

        registerMove: function (direction) {
            if (this.checkIfRequiredFieldsAreFilledOut) {
                axios.post('/log/register/' + direction, {
                    'permitId': this.currentPermit.id,
                    'driver': this.getLogDataValue('driver'),
                    'cargo': this.getLogDataValue('cargo'),
                    'customer': this.getLogDataValue('customer'),
                    'destination': this.getLogDataValue('destination'),
                    'comment': this.getLogDataValue('comment')
                }).then(response => {
                    if (response.data.error) {
                        this.$toasted.error(response.data.message);
                    }
                    else {
                        this.clearAllLogData();
                        this.focused();
                        this.setFocus();
                    }
                }).catch(function (error) {
                    console.log(error);
                });

            } else {
                console.log(this.$store.state.registration.logData);
                alert('Упссс... Что-то пошло не так. Регистрация события въезда-выезда не произведена. Обратиттесь к разработчику приложения.');
            }
        },

        reverseDirection: function (id) {
            this.$store.commit('reverseDirection', id);
        },

        getLogDataValue: function (key) {
            return this.$store.getters.getLogData[key];
        },

        displayStatusMessage: function (key) {
            return this.$store.getters.getStatusMessages[key];
        }
    },

    computed: {
        lastLogs: function () {
            if (this.$store.getters.lastLogs.length) {
                return true;
            } else {
                return false;
            }
        },

        lastLogsCount: function () {
            // В России в качестве разделителя целой и дробной части используется запятая, а в качестве разделителя разрядов - пробел
            return new Intl.NumberFormat('ru-RU').format(this.$store.getters.totalRows);
        },

        // enable submit buttons if permit is not expired and all required inputs are filled out
        checkIfRequiredFieldsAreFilledOut: function () {
            if (this.$store.getters.requiredFieldsAreCompleted & this.$store.state.registration.permitIsSelected) {
                return true;
            } else {
                return false;
            }
        },

        currentStatus: function () {
            if (this.$store.state.registration.permitIsSelected) {
                if (this.$store.getters.requiredFieldsAreCompleted) {
                    this.statusMessage = this.displayStatusMessage('registerEvent');
                    return 'text-success';
                } else {
                    this.statusMessage = this.displayStatusMessage('completeOtherFields');
                    return 'text-warning';
                }
            } else {
                return 'text-danger';
            }
        }
    },

    created: function () {
        setInterval(() => { this.curTime = moment().format('DD.MM.YYYY HH:mm:ss'); }, 1000);
        this.$store.commit('clearAllLogData');
        this.$store.commit('setPage', { page: 1 });
        this.$store.commit('setLogActionPath', '/logs/last');

        axios.get('settings/setups').then(response => {
            if (Object.keys(response.data).length != 0) {
                if(response.data.hasOwnProperty('logsAtPage')){
                    this.$store.state.registration.rowsRoDisplay = +response.data.logsAtPage;
                }

                if(response.data.hasOwnProperty('enterDatesManually')){
                    this.$store.state.permits.enterDatesManually = +response.data.enterDatesManually;
                }
            }

            this.$store.commit('populateLastLogs'); // 1 - first page for pagination
        });

        this.focused();
    }
}
</script>


<style scoped>
.privileged {
    font-family: 'Courier New', Courier, monospace;
    color: #c00;
}
</style>
